<div class="molecules-plan">
  <div class="plan">
    <div class="plan-text">プランテキスト</div>
    <div class="plan-price">
      <div class="money-frame">
        <span class="money-unit">￥</span>
        <span class="plan-money">5,000</span>
      </div>
      <span class="plan-period">月額</span>
    </div>
    <p class="plan-content">入会金</p>
    <p class="plan-content">平日:9時～17時</p>
    <p class="plan-content">土日祝:利用ナシ</p>
    <p class="plan-content">コアタイムでの利用に最適なプラン</p>
  </div>

  <div class="plan">
    <div class="plan-text">プランテキスト</div>
    <div class="plan-price">
      <div class="money-frame">
        <span class="money-unit">￥</span>
        <span class="plan-money">5,000</span>
      </div>
      <span class="plan-period">月額</span>
    </div>
    <p class="plan-content">入会金</p>
    <p class="plan-content">平日:9時～17時</p>
    <p class="plan-content">土日祝:利用ナシ</p>
    <p class="plan-content">コアタイムでの利用に最適なプラン</p>
  </div>
</div>
