<nav class="navbar navbar-expand-xl">
  <div class="hamberger-header">
    <a href="#"
      ><img src="../../../img/header.png" class="img-switch" alt="switch"
    /></a>
    <img
      src="../../../img/humberger-bar.svg"
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#hum1bar"
      aria-controls="hum1bar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    />
  </div>
  <div class="collapse navbar-collapse" id="hum1bar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="#" class="nav-link">HOME</a>
      </li>
      <li class="nav-item dropdown">
        <div class="mini-hamberger-header">
          <a href="#" class="nav-link">CONCEPT</a>
          <img
            src="../../../img/Property 1=plus.svg"
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#mini-navbar"
            aria-controls="mini-navbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
          />
        </div>
        <div class="collapse" id="mini-navbar">
          <a class="dropdown-item" href="#">ブログアーカイブ</a>
          <a class="dropdown-item" href="#">お知らせアーカイブ</a>
          <a class="dropdown-item" href="#">イベントアーカイブ</a>
          <a class="dropdown-item" href="#">インタビューアーカイブ</a>
          <a class="dropdown-item" href="#">FAQページ</a>
          <a class="dropdown-item" href="#">固定ページ(デフォルト)</a>
          <a class="dropdown-item" href="#">CONCEPT</a>
          <a class="dropdown-item" href="#">SERVICE</a>
          <a class="dropdown-item" href="#">FLOOR</a>
          <a class="dropdown-item" href="#">ACCESS</a>
        </div>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">SERVICE</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">FLOOR</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">INTERVIEW</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">BLOG</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">ACCESS</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">DOWNLOAD</a>
      </li>
    </ul>
  </div>
</nav>
