@use "../../variables" as *;

.organisms-news {
  display: flex;
  flex-direction: column;
  & > .news-and-events-title > h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    @media (min-width: $breakpoint-lg) {
      line-height: 57px;
      font-size: 40px;
    }
  }
  .news-list {
    display: block;
    margin-bottom: 30px;
    .news-card {
      & > a {
        text-decoration: none;
        .news-caption {
          height: 84px;
          background-color: $white;
          border: 1px solid $gray_gainsboro;
          display: flex;
          flex-direction: column;
          padding: 20px;

          .news-title {
            color: $black;
            font-size: $fontsize-m;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: 23px;
            width: 100%;
            transition: ease 0.2s;
            margin-bottom: 0;
            font-weight: 400;
            &:hover {
              color: $orange_bistre;
            }
          }

          .news-posted {
            margin-bottom: 10px;
            color: $gray_nobel;
            font-size: $fontsize-xs;
            line-height: 12px;
          }
        }
      }
      &:not(:first-child) > a .news-caption {
        border-top: none;
      }
    }
  }
}
