<div class="organisms-news">
  <div class="news-and-events-title">
    <h2>News<span class="caption">お知らせ</span></h2>
  </div>
  <div class="news-list">
    <article class="news-card">
      <a href="#">
        <div class="news-caption">
          <div class="news-posted">
            <time>2018.06.20</time>
          </div>
          <h3 class="news-title">
            ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました。
          </h3>
        </div>
      </a>
    </article>
    <article class="news-card">
      <a href="#">
        <div class="news-caption">
          <div class="news-posted">
            <time>2018.06.18</time>
          </div>
          <h3 class="news-title">
            3種のレイアウトから選択できるテンプレートを固定ページに実装
          </h3>
        </div>
      </a>
    </article>
    <article class="news-card">
      <a href="#">
        <div class="news-caption">
          <div class="news-posted">
            <time>2018.06.12</time>
          </div>
          <h3 class="news-title">
            利用者からのご質問をまとめた「FAQ」ページをアップしました。
          </h3>
        </div>
      </a>
    </article>
    <article class="news-card">
      <a href="#">
        <div class="news-caption">
          <div class="news-posted">
            <time>2018.06.08</time>
          </div>
          <h3 class="news-title">
            デモ用のサンプルデータを表示する「インポート機能」でサイト構築を快適に？
          </h3>
        </div>
      </a>
    </article>
    <article class="news-card">
      <a href="#">
        <div class="news-caption">
          <div class="news-posted">
            <time>2018.06.02</time>
          </div>
          <h3 class="news-title">テーマのアップデート情報について</h3>
        </div>
      </a>
    </article>
  </div>
  <a href="#" class="news-and-events-more"
    >お知らせ一覧<i class="fas fa-chevron-right"></i
  ></a>
</div>
