@use "../../variables" as *;
/*lg用*/
.message-f {
  height: 204px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .message-title {
    height: 54px;
    margin-bottom: 10px;
    font-family: $fontfamily-mincho;
    font-size: $fontsize-xl;
    line-height: 54px;
    letter-spacing: 0em;
  }
  .message-text {
    height: 36px;
    font-family: $fontfamily-mincho;
    font-size: $fontsize-s;
    line-height: 36px;
    letter-spacing: 0em;
  }
}
/*md用*/
@media (max-width: $breakpoint-md) {
  .message-f {
    height: 128px;
    .message-title {
      height: 36px;
      margin-bottom: 6px;
      font-size: $fontsize-l;
      line-height: 30px;
    }
    .message-text {
      height: 28px;
      line-height: 28px;
    }
  }
}
