@use "../../variables" as *;
/*lg用*/
.message:nth-of-type(1) {
  height: 204px;
  width: 327px;

  .message:nth-of-type(1) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 54px;
    width: 287px;
    padding-top: 52px;
    padding-bottom: 20px;
    font-family: $fontfamily-mincho;
    font-size: $fontsize-xl;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
  }
  .message:nth-of-type(2) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 36px;
    width: 287px;
    padding: 0px 101.5px;
    font-family: $fontfamily-mincho;
    font-size: $fontsize-s;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
  }
}
/*md用*/
@media (max-width: $breakpoint-md) {
  .message:nth-of-type(1) {
    height: 128px;
    width: 200px;
    .message:nth-of-type(1) {
      height: 36px;
      width: 160px;
      padding: 0px, 0px, 6px, 0px;
      font-size: $fontsize-l;
      line-height: 30px;
    }
    .message:nth-of-type(2) {
      height: 28px;
      width: 160px;
      padding: 0px 38px;
      line-height: 28px;
    }
  }
}
