@use "../../variables" as *;

.atoms-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $black;
  transition: ease 0.2s;
  color: $white;
  font-size: $fontsize-s;

  &:hover {
    background-color: $orange_bistre;
    color: $white;
    text-decoration: none;
  }
}
@media (max-width: $breakpoint-md) {
  .atoms-button {
    width: 150px;
    height: 55px;
  }
}

@media (max-width: $breakpoint-sm) {
  .atoms-button {
    width: 180px;
    height: 45px;
  }
}
