@use "../../variables" as *;

.atoms-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 55px;
  border-radius: 0px;
  background-color: $black;
  transition: ease 0.2s;
  color: $white;
  font-family: $fontfamily-mincho;
  font-style: normal;
  font-weight: 400;
  font-size: $fontsize-s;
  line-height: 20.27px;
  letter-spacing: 0em;
}

.atoms-button:hover {
  background-color: $orange_bistre;
  color: $white;
}

@media (max-width: $breakpoint-lg) {
  .atoms-button {
    width: 150px;
    height: 55px;
  }
}

@media (max-width: $breakpoint-md) {
  .atoms-button {
    width: 180px;
    height: 45px;
  }
}
