<div class="container">
  <div class="plans">
    <div class="molecules-message">
      <h2 class="message-title">
        ライフスタイルに合わせて選べる多彩なプラン。
      </h2>
      <p class="message-text">
        平日のみのプラン、仕事帰りをコアタイムとした夕方以降が中心のプラン、休日をメインとしたプランなど、多彩なプランの中からそれぞれのお客様のライフスタイルに合わせてお選びいただけます。ビジター料金でのご利用も可能ですので、月額会員登録の前に体験をしたいという方もぜひご利用ください。
      </p>
    </div>

    <div class="row">
      <div class="molecules-plan col-md">
        <div class="plan-text">デイタイムプラン</div>
        <div class="plan-price">
          <div class="money-frame">
            <span class="money-unit">￥</span>
            <span class="plan-money">5,000</span>
          </div>
          <span class="plan-period">月額</span>
        </div>
        <p class="plan-content">入会金0円</p>
        <p class="plan-content">平日:9時～17時</p>
        <p class="plan-content">土日祝:利用ナシ</p>
        <p class="plan-content">コアタイムでの利用に最適なプラン</p>
      </div>
      <div class="molecules-plan col-md">
        <div class="plan-text">スタンダードプラン</div>
        <div class="plan-price">
          <div class="money-frame">
            <span class="money-unit">￥</span>
            <span class="plan-money">15,000</span>
          </div>
          <span class="plan-period">月額</span>
        </div>
        <p class="plan-content">入会金0円</p>
        <p class="plan-content">平日：17時〜23時</p>
        <p class="plan-content">土日祝：営業時間全て</p>
        <p class="plan-content">営業時間内で終日ご利用可能なプラン</p>
      </div>
      <div class="molecules-plan col-md">
        <div class="plan-text">プレミアムプラン</div>
        <div class="plan-price">
          <div class="money-frame">
            <span class="money-unit">￥</span>
            <span class="plan-money">20,000</span>
          </div>
          <span class="plan-period">月額</span>
        </div>
        <p class="plan-content">入会金5000円</p>
        <p class="plan-content">平日:営業時間全て</p>
        <p class="plan-content">土日祝：営業時間全て</p>
        <p class="plan-content">フルに使いたい方のためのプレミアムなプラン</p>
      </div>
    </div>
    <div class="center">
      <a href="#" class="atoms-button">プラン料金</a>
    </div>
  </div>
</div>
