<div class="container">
  <div class="image-about">
    <img
      src="../../../img/about-1.jpg"
      class="image-about1"
      alt="カフェのイメージ図"
    />

    <img
      src="../../../img/about-2.jpg"
      class="image-about2"
      alt="カフェのイメージ図"
    />

    <img
      src="../../../img/about-3.jpg"
      class="image-about3"
      alt="カフェのイメージ図"
    />

    <img
      src="../../../img/about-4.jpg"
      class="image-about4"
      alt="カフェのイメージ図"
    />
  </div>
  <div class="molecules-message">
    <h2 class="message-title">
      人と人、人と本が繋がるまったく新しい快適時間。
    </h2>

    <p class="message-text">
      月額プラン以外にビジター料金でのご利用も可能です。通いやすい時間や曜日に合わせてプランをお選びください。
      ご登録プランは後の変更も可能ですので、資格試験等の目標がある場合など環境の変化に合わせて柔軟に対応しております。WiFiも電源も標準設
      備しており、
      時間を気にせず仕事や勉強に取り組めます。カフェでの長居は気が引けるという方にも心置きなくご利用いただけます。
    </p>
  </div>
</div>
