@use "../../variables" as *;

.news-and-events {
  background-color: $white_smoke;
  padding: 56px 16px;
  @media (min-width: $breakpoint-lg) {
    padding-bottom: 94px;
    .organisms-news {
      padding-left: 0;
    }
    .events {
      padding-right: 0;
    }
  }
  .row {
    @media (max-width: $breakpoint-lg) {
      display: flex;
      gap: 35px;
    }
  }
}
