@use "../../variables" as *;

.news-and-events {
  background-color: $white_smoke;
  .container {
    padding-top: 56px;
    padding-bottom: 56px;
    .row {
      @media (max-width: $breakpoint-lg) {
        display: flex;
        gap: 35px;
      }
    }
  }
}
