@use "../../variables" as *;

.cards {
  .card {
    .card-img-top {
      height: 316px;
      @media (min-width: $breakpoint-md) {
        height: 193px;
      }
    }
    &:nth-of-type(1) {
      .card-title {
        &:after {
          content: "CONCEPT";
        }
      }
    }
    &:nth-of-type(2) {
      .card-title {
        &:after {
          content: "SERVICE";
        }
      }
    }
    &:nth-of-type(3) {
      .card-title {
        &:after {
          content: "FLOOR";
        }
      }
    }
  }
}
