@use "../../variables" as *;

.cards {
  @media (min-width: $breakpoint-md) {
    display: flex;
    flex-direction: row;
  }
  .card {
    border: none;
    margin-top: 40px;
    @media (min-width: $breakpoint-md) {
      margin-top: 0;
      border-radius: 0px;
      margin-left: 24px;
      &:first-of-type {
        margin-left: 0;
      }
    }
    &:first-of-type {
      margin-top: 0;
    }
    .card-img-top {
      height: 315.688232421875px;
      @media (min-width: $breakpoint-md) {
        height: 193.1972198486328px;
        object-fit: cover;
      }
    }
    &:nth-of-type(1) {
      .card-title {
        &:after {
          content: "CONCEPT";
        }
      }
    }
    &:nth-of-type(2) {
      .card-title {
        &:after {
          content: "SERVICE";
        }
      }
    }
    &:nth-of-type(3) {
      .card-title {
        &:after {
          content: "FLOOR";
        }
      }
    }
  }
}
